Repository projectawakening/builder-examples, pull requests merged in 2025-02, with the labels that each got.

#87 upgrade mud version, include inventory table
  smart-assembly-scaffold/package.json
  smart-assembly-scaffold/packages/client/package.json
  smart-assembly-scaffold/packages/client/src/hooks/useSmartAssembly.ts
  smart-assembly-scaffold/packages/contracts/eveworld/mud.config.ts
  smart-assembly-scaffold/packages/contracts/package.json
  smart-assembly-scaffold/pnpm-lock.yaml
Labels: bug, client

#83 PNPM Version updates for security vulnerability
  README.md
  smart-assembly-scaffold/package.json
  smart-gate/package.json
  smart-storage-unit/package.json
  smart-turret/package.json
Labels: bug

#84 Smart Gate Contract Fixes
  smart-gate/packages/contracts/script/MockData.s.sol
  smart-gate/packages/contracts/test/SmartGateTest.t.sol
Labels: bug, contracts
